$body-bg: #333;
$body-color: #f8f9fa;

$blue: #114ba1;
$red:  #c53030;

.kgb-bg-light {

    background: rgba($gray-100, .82);
}
.btn-kgb {
    transition: .2s linear;
    border: solid 2px $red;
    border-radius: 5px;
    font-weight: 600;
    color: $red ;

    &:hover {
        color: $blue !important;
        border: solid 2px $blue;
    }
}
