$body-bg: #333;
$body-color: #f8f9fa;

$blue: #114ba1;
$red:  #c53030;

body {
    max-width: 100vw;
    overflow-x: hidden;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './header.scss';
.form-container {
    max-width: 300px!important;
}
.body-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;

    &::before {
        opacity: .8;
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url(../img/bg_hero.jpg);
        background-size: cover;
        background-attachment: fixed;
        filter: blur(3px) grayscale(10%);
    }
    
    &::after {
        opacity: .25;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-image: linear-gradient(to right, #21263a 150px, rgba(52, 57, 74, 0.84) 100%);
    }
}

.logo {
    width: 65px;
}
.btn-kgb {
    transition: .2s linear;
    border: solid 2px $red;
    border-radius: 5px;
    font-weight: 600;
    color: $red ;
    
    &:hover {
        color: $blue !important;
        border: solid 2px $blue;
    }
}

.white{
    color:white!important;
}
